table,th,td{
    border: 1px solid black;
    text-align: center;
  }

  th{
    padding: 5px;
  }
  td{
    padding: 10px;
  }
  
  h2{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

